In [39]:
import pandas as pd

df_fire_dept = pd.read_csv('FDNY.csv', skiprows=1)
df_fire_dept.head()

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan

In [50]:
#total number of facilities

df_total_facility = df_fire_dept.FacilityName.count()
df_total_facility

218

In [51]:
# number of fire departments in each of borough

df_fire_dept_borough = df_fire_dept.Borough.value_counts()
df_fire_dept_borough

Brooklyn         66
Queens           50
Manhattan        48
Bronx            34
Staten Island    20
Name: Borough, dtype: int64

In [34]:
#facility name in manhattan

facility_manhattan = df_fire_dept.groupby('Borough')

In [44]:
all_manhattan_facility = facility_manhattan.get_group('Manhattan')
all_manhattan_facility

,FacilityName,FacilityAddress
1,Engine 4/Ladder 15,42 South Street
2,Engine 10/Ladder 10,124 Liberty Street
3,Engine 6,49 Beekman Street
4,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street
5,Ladder 8,14 North Moore Street
6,Engine 9/Ladder 6,75 Canal Street
7,Engine 15/Ladder 18/Battalion 4,25 Pitt Street
8,Engine 28/Ladder 11,222 East 2nd Street
9,Engine 5,340 East 14th Street
10,Engine 55,363 Broome Street
11,Ladder 20/Division 1,253 Lafayette Street
12,Engine 24/Ladder 5/Battalion 2,227-29 6th Avenue
13,Engine 33/Ladder 9,42 Great Jones Street
14,Ladder 3/Battalion 6,108 East 13th Street
15,Squad 18,132 West 10th Street
16,Engine 34/Ladder 21,440 West 38th Street
17,Engine 26,220 West 37th Street
18,Engine 3/Ladder 12/Battalion 7,150 West 19th Street
19,Engine 1/Ladder 24,142-46 West 31st Street
20,Engine 14,14 East 18th Street
21,Engine 16 / Ladder 7,234 East 29th Street
22,Engine 21,238 East 40th Street
23,Engine 54/Ladder 4/Battalion 9,782 8th Avenue
24,Engine 23,215 West 58th Street
25,Rescue 1,530 West 43rd Street
26,Engine 40/Ladder 35,131 Amsterdam Avenue
27,Ladder 25/District Office 4/Division 3,205-207 West 77th Street
28,Engine 74,120 West 83rd Street
29,Engine 65,33 West 43rd Street
30,Engine 8 / Ladder 2 / Battalion 8,167 East 51st Street
31,Engine 39/Ladder 16,157-59 East 67th Street
32,Engine 44,221 East 75th Street
33,Engine 22/Ladder 13/Battalion 10,159 East 85th Street
34,Engine 58/Ladder 26,1367 5th Avenue
35,Engine 53/Ladder 43,1836-46 3rd Avenue
36,Engine 91,242 East 111th Street
37,Engine 35/Ladder 14,2282 3rd Avenue
38,Engine 76/Ladder 22/Battalion 11,145-51 West 100th Street
39,Engine 47,502 West 113th Street
40,Engine 59/Ladder 30,111 West 133rd Street
41,Engine 37/Ladder 40,415 West 125th Street
42,Engine 69/Ladder 28/Battalion 16,248 West 143rd Street
43,Engine 80/Ladder 23,503 West 139th Street
44,Engine 84/Ladder 34,513 West 161st Street
45,Engine 67,518 West 170th Street
46,Engine 93/Ladder 45/Battalion 13,515 West 181st Street
47,Engine 95/Ladder 36,29 Vermilyea Avenue
48,Marine 1,Little West 12th Street/Hudson River